.addButton{
    border: 0;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px 14px;
    color: #004b91;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.4px;
}
.submit{
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 10px;
}